{% extends 'idor_base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Settings</h1>
<p>Email: {{ user[2] }}</p>

<form action="{{ url_for('.settings', id=user[0]) }}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ user[1] }}" required>
    </div>

    

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Change</button>
</form>
{% endblock %}
